<style>
  .message-content {
    max-width: 600px;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{ name }}!</p>

  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>

  <p>Caso tenha sido você, clique no link abaixo para redefeinir sua senha:</p>

  <p>
    <a href="{{ link }}">Redefinir minha senha</a>
  </p>

  <p>Caso você não tenha solicitado, recomendamos que faça a alteração de sua senha o mais breve possíve.</p>

  <p>Atenciosamente, Equipe GoBarber!</p>
</div>
